.section__getStarted{
    width: 100%;
    padding: 0 0 8rem 0;
}
.get__started-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.getStarted__box{
    padding: 4rem;
    width: 70%;
    height: 20rem;
    background-color: violet;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #318CE7;
    color: #fff;
    border-radius: 10px;
    position: relative;
}
.getStarted__box button{
    text-align: center;
    width: 14%;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem; 
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff; 
} 
.getStarted__box button:hover{
    cursor: pointer;
}

@media(max-width : 57em) {
    .getStarted__box button{
    width: 20%;
} 
}


