.h-wrapper{
    /* background-color: var(--black); */
    color: #fff;
}
.h-container{
    justify-content: space-around;
    padding: 1rem 0;
    color: var(--secondary);
}
.header-menu a{
    display: inline-block;
    letter-spacing: 0.07rem;
}
.header-menu button{
    letter-spacing: 0.07rem;
}
.header-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-menu>*:hover{
    cursor: pointer;
}
.menu__icon{
    display : none;
}

@media (max-width : 768px){
    .menu__icon{
        display : block;
    }
    .header-menu{
        display: none;
    }
}

