.h-wrapper{
    /* background-color: var(--black); */
    color: #fff;
}
.h-container{
    justify-content: space-around;
    padding: 1rem 0;
    color: var(--secondary);
}
.header-menu a{
    display: inline-block;
    letter-spacing: 0.07rem;
}
.header-menu button{
    letter-spacing: 0.07rem;
}
.header-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-menu>*:hover{
    cursor: pointer;
}
.menu__icon{
    display : none;
}

@media (max-width : 768px){
    .menu__icon{
        display : block;
    }
    .header-menu{
        z-index: 999;
        color: black;
        display: none;
        position: absolute;
        top: 5%;
        right: 18%;
        background: white;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    }
    .show{
        display: flex;

    }
}

